<!-- <nav class="text-center">
  THIS IS NAV <br />
  <a href="/login">Login</a> | <a href="/register">Register</a> |
  <a href="/me/logout">Logout</a>
</nav> -->
<nav class="nav nav-pills nav-fill bg-success">
  <a class="nav-link text-white fs-1" href="../">Home</a>
  <a class="nav-link text-white fs-1" href="/login">Login</a>
  <a class="nav-link text-white fs-1" href="/register">Register</a>
  <a class="nav-link text-white fs-1" href="/me/logout">Logout</a>
</nav>
